@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body, html {
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
}

.footerlinks {
  font-weight: bold;
  text-decoration: underline;
}
.footerlinks li {
  padding: 5px 0px 5px 0px;
}

input::placeholder {
  color: white;
}