@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body, html {
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
}

.footerlinks {
  font-weight: bold;
  text-decoration: underline;
}
.footerlinks li {
  padding: 5px 0px 5px 0px;
}

input::placeholder {
  color: white;
}

.header-font {
  font-family: 'League Spartan', sans-serif;
  font-size: 54px;
}
.body-font {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}
.sub-body-font {
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;
}
.small-body-font {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
}